1Password       
google-chrome-beta       
vivaldi            
BraveSoftware   
gh               
google-chrome-unstable   
vivaldi-snapshot
chromium        
github-copilot   
Code\ -\ OSS/
google-chrome    
microsoft-edge-dev   
obsidian   
pulse
gtk-*
spotify
mimeapps.list

